<h1>Delete bookmark:</h1>
<form action='/bookmarks' method='post'>
  <input type='text' name='title' placeholder="Title to be deleted" />
  <input type='submit' name='delete' value="Delete" />
</form>
