<h1>Edit bookmark:</h1>
<form action="/bookmarks/<%= @bookmark_id %>" method='post'>
  <input type="hidden" name="_method" value="PATCH">
  <input type='text' name='url' placeholder="URL"/>
  <input type='text' name='title' placeholder="Title" />
  <input type='submit' name='Submit' />
</form>